* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.container{
width:  25%;
max-width: 1200px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 0em;
float: left;
}

img{
  display: grid;
  width: 22vw;
  height: 60vh;
  padding-bottom: 0em;
  box-shadow: 8px 8px 0.25px  #c7d8df ;
}

figcaption{
  display: none;
  background: rgba(157, 187, 63, .85);
  color: rgb(82, 56, 17);
}

button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 12px;
  width: 8em;
  font-size: .5em;
  margin-top: 1em;
  border-radius: 30px;
  display: inline-flexbox;
  align-content: center;
  border: none;
  transition: all 0.4s ease 0s;
  box-shadow: 3px 3px 0.25px  #c7d8df ;
  }
 /* .movie-card
  {
  box-shadow: 0.5px 0.5px 1.5px 0px #60a3bc ;
  }
*/

