<ul><li>{{title}}</li></ul>
<div class="input-container">
    <input type="text" class="search" placeholder="Search for Movies">
    <button class="searchButton">Search</button>
  </div>


 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="prison"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="rambo"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="terminator"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)"  [movie]="peppermint"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="venom"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="airforce"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="locke"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="home_alone"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="passion"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="matrix"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="eden"></movie-card>

 <movie-card (movieSelected) =  "onMovieSelected($event)" [movie]="galaxy"></movie-card>










